<div class="col-10 offset-1 about">
  <h1>About PCAT</h1>
  <p>
    Quote everyday was built by <a target="_blank" href="https://gladieschang.netlify.com/?fbclid=IwAR2mcLW4aqU6AlSxchNFgbROweix8J2R2lElD9d19tJzgb307tSZ2NxaDRs">rabite</a> & <a target="_blank" href="https://www.linkedin.com/in/hui-lin-gladies-chang-8834243b/">pcat</a>. A quote a day, keeps the doctor away.
  </p>
  <br />
  <p>
    What did the traffic light say to the car? Don’t look! I’m about to change..
  </p>
  <p>
    If you want to learn how to quote - start <a target="_blank" href="https://www.coolfunnyquotes.com/tag/happy/"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'marco.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">rabite</h2>
      <br />
      <p>
        Rabite is 8 TIMES rabbit --> we all know the relationship between bits and bytes (<a target="_blank" href="https://www.reddit.com/r/geek/comments/3ji5lq/a_byte_joke/">bits and bytes </a>) and this is more information <a target="_blank" href="https://www.lifewire.com/the-difference-between-bits-and-bytes-816248/">more bits and bytes</a>, and more and more information <a target="_blank" href="https://www.best-funny-jokes.com/cat-jokes">more and more information</a> for bits and bytes.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ken.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">PCAT</h2>
      <br />
      <p>
        PCAT is happy cat only eat veggie like chicken and drink CO2 tea with OH bond(<a target="_blank" href="https://bestlifeonline.com/cat-jokes/">cute cat</a>) and a member of the veggie development team in CA. PCAT likes to watch TV during her free time <a target="_blank" href="https://www.wideopenpets.com/13-best-cat-jokes-that-are-just-purr-fect/">health diet</a> or mow the lawn after eating too much chicken veggie.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />